<div>
    {{ movieForm.value | json }}
</div>

<div class="form col-md-3">
    <h1>Reactive movie Form</h1>
    <form [formGroup]="movieForm" (ngSubmit)="saveMovie()">
        <div class="form-group">
            <label for="id">Id</label>
            <input formControlName="id" type="number" class="form-control" id="id" name="id" required />
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" name="name" required />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input formControlName="description" type="text" class="form-control" id="description" name="description" required />
        </div>

        <div class="form-group">
            <label for="genre">genre</label>
            <input formControlName="genre" type="text" class="form-control" id="genre" name="genre" />
        </div>

        <button type="submit" class="btn btn-success">
      Submit
    </button>
    </form>
</div>